<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:if value="$(arg is_sim)">
    <ros2_control name="WebotsPlatformControl" type="system">
      <hardware>
        <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
      </hardware>
    </ros2_control>

    <!-- <gazebo>
      <plugin filename="libgz-sim-pose-publisher-system.so" name="gz::sim::systems::PosePublisher">
        <publish_link_pose>true</publish_link_pose>
        <publish_nested_model_pose>true</publish_nested_model_pose>
        <use_pose_vector_msg>true</use_pose_vector_msg>
        <update_frequency>50</update_frequency>
      </plugin>
    </gazebo> -->
  </xacro:if>
</robot>
