<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="intel_realsense" params="name parent_link model *origin
                                              update_rate:=30.0 image_height:=480 image_width:=640">

    <xacro:if value="${model == 'd415'}">
      <xacro:include filename="$(find rc_sensors_description)/urdf/intel/d415.urdf.xacro" />
      <xacro:sensor_d415 name="${name}" parent="${parent_link}">
        <xacro:insert_block name="origin" />
      </xacro:sensor_d415>
    </xacro:if>
    <xacro:if value="${model == 'd435'}">
      <xacro:include filename="$(find rc_sensors_description)/urdf/intel/d435.urdf.xacro" />
      <xacro:sensor_d435 name="${name}" parent="${parent_link}" use_nominal_extrinsics="true">
        <xacro:insert_block name="origin" />
      </xacro:sensor_d435>
    </xacro:if>
    <xacro:if value="${model == 'd435i'}">
      <xacro:include filename="$(find rc_sensors_description)/urdf/intel/d435i.urdf.xacro" />
      <xacro:sensor_d435i name="${name}" parent="${parent_link}">
        <xacro:insert_block name="origin" />
      </xacro:sensor_d435i>
    </xacro:if>
    <xacro:if value="${model == 'd455'}">
      <xacro:include filename="$(find rc_sensors_description)/urdf/intel/d455.urdf.xacro" />
      <xacro:sensor_d455 name="${name}" parent="${parent_link}">
        <xacro:insert_block name="origin" />
      </xacro:sensor_d455>
    </xacro:if>
    <xacro:if value="${model == 'd456'}">
      <xacro:include filename="$(find rc_sensors_description)/urdf/intel/d456.urdf.xacro" />
      <xacro:sensor_d456 name="${name}" parent="${parent_link}">
        <xacro:insert_block name="origin" />
      </xacro:sensor_d456>
    </xacro:if>

    <xacro:arg name="is_sim" default="false" />

    <xacro:if value="$(arg is_sim)">
      <gazebo reference="${name}_color_optical_frame">
        <sensor name="${name}" type="camera">
          <camera>
            <horizontal_fov>1.25</horizontal_fov>
            <image>
              <width>${image_width}</width>
              <height>${image_height}</height>
            </image>
            <clip>
              <near>0.3</near>
              <far>100</far>
            </clip>
          </camera>
          <always_on>1</always_on>
          <update_rate>${update_rate}</update_rate>
        </sensor>
      </gazebo>

      <gazebo reference="${name}_color_optical_frame">
        <sensor name="${name}_depth" type="depth">
          <camera>
            <horizontal_fov>1.25</horizontal_fov>
            <image>
              <width>${image_width}</width>
              <height>${image_height}</height>
            </image>
            <clip>
              <near>0.1</near>
              <far>200</far>
            </clip>
          </camera>
          <always_on>1</always_on>
          <update_rate>${update_rate}</update_rate>
        </sensor>
      </gazebo>

      <webots>
        <device reference="${name}" type="Camera">
          <ros>
            <enabled>true</enabled>
            <updateRate>${update_rate}</updateRate>
            <topicName>$(arg namespace)/sensors/${name}</topicName>
            <alwaysOn>true</alwaysOn>
            <frameName>${name}_color_optical_frame</frameName>
          </ros>
        </device>
        <device reference="${name}_depth" type="RangeFinder">
          <ros>
            <enabled>true</enabled>
            <updateRate>${update_rate}</updateRate>
            <topicName>$(arg namespace)/sensors/${name}/depth</topicName>
            <imageSuffix>/image_raw</imageSuffix>
            <pointCloudSuffix>/points</pointCloudSuffix>
            <alwaysOn>true</alwaysOn>
            <frameName>${name}_color_optical_frame</frameName>
          </ros>
          <minRange>0.1</minRange>
          <maxRange>20.0</maxRange>
        </device>
      </webots>
    </xacro:if>

    <xacro:unless value="$(arg is_sim)">
      <gazebo reference="${name}_link">
        <sensor name="${name}" type="rgbd_camera">
          <camera>
            <horizontal_fov>1.25</horizontal_fov>
            <image>
              <width>${image_width}</width>
              <height>${image_height}</height>
            </image>
            <clip>
              <near>0.3</near>
              <far>100</far>
            </clip>
            <gz_frame_id>${name}_link</gz_frame_id>
            <optical_frame_id>${name}_color_optical_frame</optical_frame_id>
          </camera>
          <always_on>1</always_on>
          <update_rate>${update_rate}</update_rate>
          <visualize>true</visualize>
          <gz_frame_id>${name}_link</gz_frame_id>
          <topic>$(arg namespace)/sensors/${name}</topic>
        </sensor>
      </gazebo>
    </xacro:unless>

  </xacro:macro>
</robot>
