<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="a300-00000">

  <!-- Common -->
  <xacro:include filename="$(find rc_platform_description)/urdf/common.urdf.xacro"/>

  <!-- Platform -->
  <xacro:include filename="$(find rc_platform_description)/urdf/a300/a300.urdf.xacro"/>
  <xacro:a300 control="diff_4wd" front_wheels="outdoor" rear_wheels="outdoor"/>


  <!-- Attachments -->

  <xacro:include filename="$(find rc_platform_description)/urdf/a300/attachments/bumper.urdf.xacro"/>
  <xacro:bumper name="front_bumper" model="default" parent_link="front_bumper_mount" extension="0.0">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:bumper>

  <xacro:include filename="$(find rc_platform_description)/urdf/a300/attachments/bumper.urdf.xacro"/>
  <xacro:bumper name="rear_bumper" model="default" parent_link="rear_bumper_mount" extension="0.0">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:bumper>

  <xacro:include filename="$(find rc_platform_description)/urdf/a300/attachments/top_plate.urdf.xacro"/>
  <xacro:top_plate name="top_plate" model="default" parent_link="default_mount">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:top_plate>


  <!-- Links -->


  <!-- Mounts -->


  <!-- Sensors -->

  <!-- lidar2d_0 -->
  <xacro:include filename="$(find rc_sensors_description)/urdf/hokuyo_ust.urdf.xacro"/>
  <xacro:hokuyo_ust name="lidar2d_0" parent_link="top_plate_link" ang_res="0.5" min_ang="-3.141592653589793" max_ang="3.141592653589793" min_range="0.05" max_range="25.0" update_rate="40">
    <origin xyz="-0.1 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:hokuyo_ust>

  <!-- lidar2d_1 -->
  <xacro:include filename="$(find rc_sensors_description)/urdf/hokuyo_ust.urdf.xacro"/>
  <xacro:hokuyo_ust name="lidar2d_1" parent_link="top_plate_link" ang_res="0.5" min_ang="-3.141592653589793" max_ang="3.141592653589793" min_range="0.05" max_range="25.0" update_rate="40">
    <origin xyz="0.1 0.0 0.0" rpy="0.0 0.0 3.1415"/>
  </xacro:hokuyo_ust>

  <!-- camera_0 -->
  <xacro:include filename="$(find rc_sensors_description)/urdf/intel_realsense.urdf.xacro"/>
  <xacro:intel_realsense name="camera_0" parent_link="base_link" update_rate="30" image_height="480" image_width="640" model="d435">
    <origin xyz="0.445 0.0 0.1" rpy="0.0 0.0 0.0"/>
  </xacro:intel_realsense>

  <!-- camera_1 -->
  <xacro:intel_realsense name="camera_1" parent_link="arm_0_wrist_3_link" update_rate="30" image_height="480" image_width="640" model="d435">
    <origin xyz="0.0 -0.05 -0.05" rpy="-2.362919 -1.570368 -2.362919"/>
  </xacro:intel_realsense>


  <!-- imu_0 -->
  <xacro:include filename="$(find rc_sensors_description)/urdf/microstrain_imu.urdf.xacro"/>
  <xacro:microstrain_imu name="imu_0" parent_link="base_link" update_rate="100">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:microstrain_imu>


  <!-- Manipulators -->

  <!-- arm_0 -->
  <xacro:include filename="$(find rc_manipulators_description)/urdf/arm/universal_robots.urdf.xacro"/>
  <xacro:universal_robots name="arm_0" parent_link="top_plate_link" ur_type="ur5e" kinematics_parameters_file="$(find rc_manipulators_description)/urdf/arm/ur_description_webots/config/ur5e/default_kinematics.yaml" headless_mode="False" robot_ip="192.168.131.40">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:universal_robots>

  <!-- arm_0_gripper -->
  <xacro:include filename="$(find rc_manipulators_description)/urdf/gripper/robotiq_2f_140.urdf.xacro"/>
  <xacro:robotiq_2f_140 name="arm_0_gripper" parent_link="arm_0_tool0" use_controllers="true" sim_gazebo="true">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:robotiq_2f_140>


  <!-- Extras -->


</robot>
